body {
    font-family: 'Alike', serif;
    /*background-color: #1f1913;*/
    background-color:#0d0b08;
    background-image: -webkit-radial-gradient(50% 50%, ellipse closest-side, #1C1611, #0D0B08 90%);
    background-image: -moz-radial-gradient(50% 50%, ellipse closest-side, #1C1611, #0D0B08 90%);
    background-image: -o-radial-gradient(50% 50%, ellipse closest-side, #1C1611, #0D0B08 90%);
    background-image: -ms-radial-gradient(50% 50%, ellipse closest-side, #1C1611, #0D0B08 90%);
    background-image: radial-gradient(50% 50%, ellipse closest-side, #1C1611, #0D0B08 90%);
    color: #e1dccb;
    text-shadow: 2px 2px rgba(0,0,0,.4);
}

p.intro {
  font-size: 28pt;
  text-align: center;
  margin-bottom: .5em;
}
p.detail {
  font-size: 16pt;  
  text-align: center;
  margin-bottom: .5em;
}


a {
    text-decoration: underline;
    color: #6e5944;
}

h1#title {
  text-indent: -99999pt;
  background: url('../img/title.png') no-repeat;
  display: block;
  width: 800px;
  height: 427px;
  margin-bottom: 2em;
}


section {
  display: block;
  height: 100%;
}

section header {
  display: block;
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid #e1dccb;
  margin: 4em 0 1.5em 0;
}
section header ul li {
  float: left;
  font-size: 16pt;
  list-style-type: none;
  margin-right: 1em;
}

section header ul li a {
  color: #e1dccb;
  display: block;
  padding: 0 0 5px 0;
  text-decoration: none;
}

section header ul li a.selected {
  border-bottom: 3px solid #e1dccb;
}

section header ul li a:hover {
  border-bottom: 3px solid #6e5944;
}

section p {
  margin-bottom: 1em;
}

div.footer {
  width: 100%;
  background-image: -webkit-linear-gradient(#0c0a06, #030201);
  background-color: #0d0b08;
  margin: 4em 0 0 0;
  padding: 1em 0 0 0;
  border-top: 1px solid #e1dccb;
  height: 200px;
}